<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SZDS_TIMECARD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SZDS_TIMECARD.Properties.Settings.SZDSConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\SZDS_OCR\MDB\SZDS.mdb"
            providerName="System.Data.OleDb" />
        <add name="SZDS_TIMECARD.Properties.Settings.mdbOlePath" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\SZDS_OCR\MDB\SZDS.mdb"
            providerName="System.Data.OleDb" />
        <add name="SZDS_TIMECARD.Properties.Settings.mdbPathTemp" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\SZDS_OCR\MDB\SZDS_Temp.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
    <applicationSettings>
        <SZDS_TIMECARD.Properties.Settings>
            <setting name="dataPathIP" serializeAs="String">
                <value>c:\SZDS_OCR\DATA\</value>
            </setting>
            <setting name="dataPathOuen" serializeAs="String">
                <value>c:\SZDS_OCR\DATA2\</value>
            </setting>
            <setting name="tifPath" serializeAs="String">
                <value>c:\SZDS_OCR\TIF\</value>
            </setting>
            <setting name="rekiHosei" serializeAs="String">
                <value>1988</value>
            </setting>
            <setting name="SQLServerName" serializeAs="String">
                <value>DESKTOP-VOLNQ7Q\OBCINSTANCE2X</value>
            </setting>
            <setting name="SQLLogin" serializeAs="String">
                <value>fkdl</value>
            </setting>
            <setting name="SQLPass" serializeAs="String">
                <value>sqlPass</value>
            </setting>
            <setting name="gengou" serializeAs="String">
                <value>平成</value>
            </setting>
            <setting name="sqlCurrentDB" serializeAs="String">
                <value>obc1sresource</value>
            </setting>
            <setting name="xlsBmnShift" serializeAs="String">
                <value>c:\SZDS_OCR\XLS\部署別勤務体系.xlsx</value>
            </setting>
            <setting name="xlsBmnZanReason" serializeAs="String">
                <value>c:\SZDS_OCR\XLS\部署別残業理由.xlsx</value>
            </setting>
            <setting name="mdbPath" serializeAs="String">
                <value>c:\SZDS_OCR\MDB\</value>
            </setting>
            <setting name="okPath" serializeAs="String">
                <value>c:\SZDS_OCR\OK\</value>
            </setting>
            <setting name="dataDelSpan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xlsBmnZanPlan" serializeAs="String">
                <value>c:\SZDS_OCR\XLS\部署別残業計画.xlsx</value>
            </setting>
            <setting name="xlsZanRep" serializeAs="String">
                <value>c:\SZDS_OCR\XLS\残業集計表.xlsx</value>
            </setting>
            <setting name="xlsIPSheet" serializeAs="String">
                <value>c:\SZDS_OCR\XLS\勤怠データIP票.xlsx</value>
            </setting>
            <setting name="xlsIdouSheet" serializeAs="String">
                <value>c:\SZDS_OCR\XLS\応援移動票.xlsx</value>
            </setting>
            <setting name="wrHands_Job_IP" serializeAs="String">
                <value>静岡電装IP票.job</value>
            </setting>
            <setting name="wrHands_Job_OUEN" serializeAs="String">
                <value>静岡電装様応援移動票.job</value>
            </setting>
            <setting name="scanPath" serializeAs="String">
                <value>c:\SZDS_OCR\SCAN\</value>
            </setting>
            <setting name="trayPath" serializeAs="String">
                <value>c:\SZDS_OCR\TRAY\</value>
            </setting>
            <setting name="ocrPatternLoadPath" serializeAs="String">
                <value>C:\SZDS_OCR\WRHV803\</value>
            </setting>
            <setting name="wrOutPath" serializeAs="String">
                <value>C:\SZDS_OCR\READ\</value>
            </setting>
            <setting name="wrReaderOutFile" serializeAs="String">
                <value>txtout.csv</value>
            </setting>
            <setting name="xlsZanChart" serializeAs="String">
                <value>c:\SZDS_OCR\XLS\残業グラフ.xlsx</value>
            </setting>
            <setting name="xlsBmnReZanPlan" serializeAs="String">
                <value>c:\SZDS_OCR\XLS\部署別理由別残業計画.xlsx</value>
            </setting>
            <setting name="xlsKintai" serializeAs="String">
                <value>c:\SZDS_OCR\XLS\勤怠表.xlsx</value>
            </setting>
            <setting name="xlsFuriPath" serializeAs="String">
                <value>c:\SZDS_OCR\振替データ\</value>
            </setting>
        </SZDS_TIMECARD.Properties.Settings>
    </applicationSettings>
</configuration>